.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( #be6e25,#25beab);
  height: 100%;
  width: 100%;
  gap: 10px;
  

}
.Heading{
  margin-top: 50px;
  font-family: Futara;
}

.btn {
background-color: #32c832;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  font-weight: 800;
  margin:10px;
  
}
.btn:hover{
  background-color:#19A7CE;
  box-shadow: 5px 5px #222020;
}
.container{
  border:1px solid black;
  margin:3%;
 position: relative;
  border-radius:20px;
}
.container:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.mainContainer{
  display:flex;
  width:1350px;
  Height:100%;
  border:2px Solid black
  display:flex;  
 flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.icon{
   font-size:35px;
   position: absolute;
   z-index: 2;
   position: absolute;
   bottom:0; 
   right:0;
   margin:0px 20px 7px 10px;
  
}

.Image{
   height:250px;
   width:230px;
  border-radius:20px;
  }